@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 style="font-size:100px; color: black; margin:10px;">Michael's Movies'</h1>

    <p style="font-size:30px; color: black;"><em>A collection of movies and actors I recommend watching, enjoy!</em></p>

    <iframe width="1280" height="720" src="https://www.youtube.com/embed/xBasQG_6p40" title="The Most Beautiful Shots In Movie History" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
